<div class="container" *ngIf="weatherData">
  <div class="locality">
    <div class="ls-custom-select">
      <select [(ngModel)]="weatherService.city_name" (change)="changeCity()">
        <option *ngFor="let city of cities" [value]="city.name">
          {{ city.name }}
        </option>
      </select>
    </div>
    <h4>
      {{ getWeekString() }}, {{ getMonthString() }} {{ dayMonth }},
      {{ year }}
    </h4>
  </div>
  <h2>{{ weatherData.results.description }}</h2>
  <div class="clime">
    <h1>{{ weatherData.results.temp }}°</h1>
  </div>
</div>
