.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  img {
    height: 40px;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    td {
      margin-top: 15px;
      font-size: 17px;
      font-weight: 600;
    }
  }
}
