<div class="container">
  <div class="main">
    <p>22:00</p>
    <img src="./assets/clear_day.svg" />
    <p>19°</p>
    <p>💧0%</p>
  </div>
  <hr />
  <div class="main">
    <p>22:00</p>
    <img src="./assets/clear_day.svg" />
    <p>19°</p>
    <p>💧0%</p>
  </div>
  <hr />
  <div class="main">
    <p>22:00</p>
    <img src="./assets/clear_day.svg" />
    <p>19°</p>
    <p>💧0%</p>
  </div>
  <hr />
  <div class="main">
    <p>22:00</p>
    <img src="./assets/clear_day.svg" />
    <p>19°</p>
    <p>💧0%</p>
  </div>
  <hr />
  <div class="main">
    <p>22:00</p>
    <img src="./assets/clear_day.svg" />
    <p>19°</p>
    <p>💧0%</p>
  </div>
</div>
