@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  background: #22519f;
  color: white;
}
html {
  height: 100%;
  width: 100%;
}
* {
  font-family: "Inter", sans-serif;
}
